PORT=5000
JWT_SECRET=replace_with_long_secret

DB_HOST=localhost
DB_USER=portfolio_user
DB_PASSWORD=portfolio123
DB_NAME=portfolio_cms

CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174